.header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  background-color: #7777ff;
  width: 100%;
  height: auto;
  padding: 15px;
  font-weight: 800;
  justify-content: space-around;
  color: #DDF;
}
.header .logo__text {
  font-size: 20px;
}